.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}
.contact-wrap {
    display: flex;
    gap: 50px;
    margin-left: auto;

}

.header {
    border-bottom: 1px solid #ECECEC;
}
.site-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
}


.nav-item>.link,
.contacts-item>.link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-item>.link.current::after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--blue-color);
    border-radius: 2px;


}

.nav-item+.nav-item {
    margin-left: 50px;
}


.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--blue-color);
}
.site-nav .link.current {
    color: var(--blue-color);
}

.site-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts-item+.contacts-item {
    margin-left: 50px;
}

.contact-header {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    transition: color 250ms var(--cubic);
}

.icon-contact {
    vertical-align: text-bottom;
    margin-right: 10px;
    fill: currentColor;
}

.contact-header:hover,
.contact-header:focus {
    color: var(--blue-color);
}