.logo {
    color: var(--blue-color);

    font-family: Raleway;

    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}
.accent {
    color: var(--title-text-color);

    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
}
.logo-item {
    margin-right: 93px;
}